@import './common.scss';

.journey-box {
  border: 3px dashed $layoutBorderColour;
  background-color: white;
  margin-bottom: 10px;
}

.journey-box-inner {
  background-color: $codeBackgroundColour;
  padding: 10px;
  margin: 10px;
  span {
    font-weight: 700;
    color: grey;
    margin-right: 10px;
    &:after {
      content: ':'
    }
  }
}

.journey-box-title {
  margin-top: 10px;
}

@media only screen and (min-width:750px) {
  .journey-box-inner {
    padding: 20px;
    margin: 20px;
  }
}
