@import './common.scss';

.about-me-intro {
  margin-bottom: 40px;
}

.journey-box {
  border: 2px dashed $layoutBorderColour;
  background-color: white;
  margin-bottom: 10px;
}

.journey-box-inner {
  background-color: $codeBackgroundColour;
  padding: 10px;
  margin: 10px;
  span {
    font-weight: 700;
    color: grey;
    margin-right: 10px;
    &:after {
      content: ':'
    }
  }
}

.journey-box-title {
  margin-top: 10px;
}

@media only screen and (min-width:750px) {
  .about-me-intro-content {
    border-right: 2px dashed $homeTriangleColour;
    border-left: 2px dashed $homeTriangleColour;
  }
  .about-me-intro-inner {
    padding: 0 20px;
  }
  .my-journey-container {
    display: flex;
    flex-direction: column;
  }

  .journey-box {
    max-width: 715px;
    &:first-child {
      align-self: flex-start;
    }
    &:nth-child(2) {
      align-self: flex-end;
    }
    &:nth-child(4) {
      align-self: flex-end;
    }
  }

  .journey-box-inner {
    padding: 10px 20px;
    margin: 20px;
  }
}
