$linkColour: lightseagreen;
$linkHoverColour: darkcyan;
$blogColour: #fae7ff;
$tilColour: lavender;
$homeTriangleColour: rgba(134, 189, 233, .3);
$layoutBorderColour: #eee;
$codeBackgroundColour: #f8f8f8;
