.wrapper {
  overflow: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.content {
  max-width: 970px;
  padding: 10px 30px;
  margin: auto;
}

.home-link {
  position: relative;
  margin-bottom: 40px;
  a {
    position: absolute;
    right: 20px;
  }
}
