@import '../pages/common';

.post-preview {
  border-bottom: 2px dashed #eee;
  &.homepage {
    margin-left: 282px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 30px;
  }
}

.post-preview-title {
  margin-bottom: 10px;
}

.post-preview-meta {
  font-size: .8em;
  align-items: baseline;
  display: flex;
  a,
  a:hover
  {
    border-bottom: none;
  }
}

.post-preview-badge {
  line-height: 1.2em;
  height: 20px;
  margin: 0 10px;
}

.post-preview-blog-badge {
  background-color: $blogColour;
  width: 42px;
  padding: 0 5px;
}

.post-preview-til-badge {
  background-color: $tilColour;
  width: 31px;
  padding: 0 4px;
}
